@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$primary-font: 'Muli', sans-serif;
$font-size-name: 5em;
$font-size-small: 0.3em;
$font-size-normal: 1em;
$font-size-h2: 2em;
$font-size-table: 0.8em;
