@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

a.link {
    text-decoration: none;
    color: black;
}

a.link:hover {
    text-decoration: underline;
}

.head {
    text-align: left;
}

.txt {
    text-align: left;
    margin-left: 2em;
}

.lnk {
    text-decoration: none;
    color: grey;
    font-family: 'Noto Sans KR', sans-serif;
}

.table {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}